doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title La mente del vendedor
    link(href='assets/css/main.css' rel="stylesheet")
    link(href='assets/css/bootstrap.min.css' rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")    
  body
    section(class='header ')
        div(class='container text-center')
            div(class='row')
                div(class='col-sm-12')
                    img(src='assets/img/logo.png' class='logo')
                    h1 Consigue más
                    h1
                        span ventas, dinero y tiempo 
                    h1 sin presión ni estrés
                    h3 Empieza a vender más sin importar que producto, servicio o experencia tengas.

    section(class='container mt-5 mb-5 pt-5')
        div(class='row')
            div(class='col-sm-12')
                p(class='bold') Sabemos porque estás aquí

                p(class='bold') tienes un productos/servicio extraordinario pero no encuentras a quién y cómo venderlo.

                p Llevas días, semanas e incluso meses intentando vender más y eso te causa estrés.
                p Estas pensando en rendirte y hasta duces a tu mismo "es qie no es la temporada de mi producto/servicio" ó "las ventas estpan bajas para todos, ¿no?".

                p(class='bold') tienes un productos/servicio extraordinario pero no encuentras a quién y cómo venderlo

        div(class='row row mt-5 pt-5')
            div(class='col-sm-12')
                h2(class='text-center') ¿Quieres vender más con menos esfuerzo?
                
                p(class='pb-5 pt-5')  La MENTE del VENDEDOR es el único entrenamiento que existe para programar tu mente a vender más. No importa si recién empiezas en ventas o llevas años vendiendo, si vendes un producto o vendes un servicio, si eres vendedor o emprendedor, si tienes metas grandes o pequeñas, si tienes confianza en ti o no, este entrenamiento esta diseñado para que todos puedan vender más. ¿Por qué? porque aprenderás principios que funcionan

                ol
                    li 
                        div 
                            p Aprenderás a vender productos de alto precio y sentirte cómodo al hacerlo.
                    li
                        div 
                            p  Descubrirás como ser más influyente, persuasivo y empático para hacer que las personas entiendan mejor los beneficios de tu producto.
                    li
                        div 
                            p  Eliminarás creencias que te limitan a vender más y conseguir más dinero para tener la tranquilidad y paz que muy pocos vendedores y emprendedores tienen al momento de realizar su labor.
                    li
                        div
                            p Le perderás el miedo a vender, al rechazo y a cobrar por tus productos o servicios.
                    li
                        div 
                            p  Conocerás los 5 Lenguajes del Amor que te ayudarán a crear una conexión emocional con tus clientes y familia.
                    li
                        div 
                            p  Aprenderás hacer dinero sin dinero (El arte de negociar), y más...

    section(class='container testimonio mt-5 mb-5 pt-5')
        div(class='row')
            div(class='col-sm-12 text-center')
                h2(class='pb-5') Testimonios
                p(class='pb-5 pl-5 pr-5') Lo que descubrí con MasterSeller es que podía ser una gran emprendedora, tenía dudas sobre como comenzar mi proyecto de negocio pues tomé los entrenamientos “La mente del vendedor” y “Master plan” antes de abrir mi negocio y con la información que recibí acerca de ofrecer mis servicios y productos, desde el amor y agregando valor en la vida de mis clientes, eh podido generar mayores ingresos con menos esfuerzo y mas satisfacción. Pues Ahora sé que ellos harán posible mi expansión a partir de la experiencia vivida en mi salón DIVINE Beauty & Color.Además de conocer a muchas personas en la comunidad de MasterSeller que me apoyaron durante todo el proceso de inicio del negocio hasta ahora, se convirtieron en amigos y futuros socios.

                img(src='assets/img/testimonio.jpg')

                h4 Mily Nuñez
                h5 Dueña de negocio y
                h5  estilista de Artistas

    section(class=' call-action yellow ') 
            div(class='container ')
                div(class='row')
                div(class='col-sm-12 vertical-center')
                    h2 ¿Cuánto estás dispuesto a invertir en la habilidad que te ayudará a tener éxito en la vida y en los negocios?

    section(class='container mt-5 mb-5 modulos text-center')
        div(class='row')
            div(class='col-sm-12 mt-5')
                h2 ¿Qué incluye La MENTE del VENDEDOR?
            div(class='col-sm-12 mt-5')
                div(class='separator top before')
                img(src='assets/img/entrenamiento.png' class='width-icon')
                div(class='separator top after')
                h4(class='pt-2') Entrenamiento

                p(class='description') Vivirás el mejor entrenamiento en términos de ventas que existe en Perú. El único que te llevará a vender más sin importar que producto, servicio o experiencia tengas.

                ul
                    li
                        p Fecha: 16 de julio
                    li 
                        p Horario: 10 am a 8:30 pm
                    li
                        p  Lugar: Hotel Britania
                    li 
                        p Calle Independencia 211, Miraflores.
                    div(class='separator bottom before')
                    li(class='bold h5 pt-3') Valor: s/. 499
                    div(class='separator bottom after')




            div(class='col-sm-4 mt-5 ')
                div(class='bg-gray-light pt-5 pb-4 pl-4 pr-4')
                    h3 Material
                    div(class='separator modulo') 
                    img(src='assets/img/material.png' class='mt-3 mb-3')
                    
                    p Este entrenamiento incluye herramientas que harán que vivas una experiencia única. Te entregaremos el manual del entrenamiento, lapicero y otras herramientas más.
                    p(class='bold h5 pt-3') Valor: s/. 499
            div(class='col-sm-4 mt-5')
                div(class='bg-gray-light pt-5 pb-4 pl-4 pr-4')
                    h3 Material
                    div(class='separator modulo')
                    img(src='assets/img/comu.png' class='mt-3 mb-3')
                    
                    p Este entrenamiento incluye herramientas que harán que vivas una experiencia única. Te entregaremos el manual del entrenamiento, lapicero y otras herramientas más.
                    p(class='bold h5 pt-3') Valor: s/. 499
            div(class='col-sm-4 mt-5')
                div(class='bg-gray-light pt-5 pb-4 pl-4 pr-4')
                    h3 Material
                    div(class='separator modulo')
                    img(src='assets/img/guia.png' class='mt-3 mb-3')
                    
                    p Este entrenamiento incluye herramientas que harán que vivas una experiencia única. Te entregaremos el manual del entrenamiento, lapicero y otras herramientas más.
                    p(class='bold h5 pt-3') Valor: s/. 499
            div(class='col-sm-12 mt-5 pt-5')
                h4(class='pt-5 pb-1') PERO AÚN MÁS IMPORTANTE
                h5(class='pb-3') Quédate tranquilo, tenemos algo especial para ti. Continua Leyendo...
                div(class='separator mb-3')
                p(class='text-offer') En si, podríamos vender cada uno de estos módulos como un curso individual por $500 USD o más... Pero sabemos que juntos dan mejores resultados para ti. Todo este contenido tiene un valor de S/. 1196, pero hoy tú no vas a pagar eso.

    section(class='container mt-5 mb-5 price pl-5 pd-0-xs pr-5 ')
       div(class='row pr-5  pd-0-xs pl-5 pb-5')
            div(class='col-sm-12 text-center mb-5 pb-5')
                h2 Hablemos del precio
            div(class='col-sm-12 col-md-4')
                div(class='old')
                    div(class='title')
                        h3(class='text-center pt-4 pb-3') Promoción

                        

                    ul(class='ml-3 pt-3 pb-3')
                        li Entrenamiento presencial
                        li Entrenamiento presencial
                        li Entrenamiento presencial
                        li Entrenamiento presencial

                    div(class='btn-price gray text-center ')
                        p s/1196
            div(class='col-sm-12 col-md-4')
                div(class='best')
                    div(class='title')
                        img(src='assets/img/checked-1.png')
                        h3(class='text-center pt-4 ') Mejor opción
                        h5(class='text-center pb-3') (Solo pagos online)

                    ul(class='ml-3 pt-3 pb-3')
                        li Entrenamiento presencial
                        li Entrenamiento presencial
                        li Entrenamiento presencial
                        li Entrenamiento presencial

                    div(class='btn-price text-center bg-info')
                        p s/396
                        button(class='btn mb-3 ') Inscribete ahora
            div(class='col-sm-12 col-md-4')
                div(class='old')
                    div(class='title')
                        h3(class='pt-4 pb-3 text-center') Promoción

                        ul(class='ml-3 pt-3 pb-3')
                            li Entrenamiento presencial
                            li Entrenamiento presencial
                            li Entrenamiento presencial
                            li Entrenamiento presencial

                    div(class='btn-price gray text-center')
                        div(class='red-strike')
                        p s/1196

    section(class='container mt-5 mb-5 pt-5 pb-5 blocks')
       div(class='row')
            div(class='col-sm-12 col-md-6')
                div(class='bg-danger  pt-5 pb-5 pl-5 pr-5 ')
                    h4(class='text-center pb-3') Este entrenamiento NO es para las personas que...
                    ul 
                        li Creen que viendo tutoriales en YouTube y yendo a talleres gratis ya lo saben todo.
                        li Prefieren tirar al piso los precios de sus productos/servicios para vender más.
                        li Consideran que "mentir" en una venta esta bien.
                        li Se creen el Lobo de Wall Street y quieren hacerse ricos en 24 hrs.
                        li Venden un producto/servicio que no funciona.
            div(class='col-sm-12 col-md-6')
                div(class='bg-success  pt-5 pb-5 pl-5 pr-5 ')
                        h4(class='text-center pb-3') Este entrenamiento si es para las personas que...
                        ul 
                            li Creen que viendo tutoriales en YouTube y yendo a talleres gratis ya lo saben todo.
                            li Prefieren tirar al piso los precios de sus productos/servicios para vender más.
                            li Consideran que "mentir" en una venta esta bien.
                            li Se creen el Lobo de Wall Street y quieren hacerse ricos en 24 hrs.
                            li Venden un producto/servicio que no funciona.


    section(class='call-action bg-gray-dark') 
        div(class='container ')
            div(class='row vertical-center')
                div(class='col-sm-12')
                    h2 Tus clientes están esperando que alguien los ayude a comprar, ¿vas a ser tú?
                    button(class='btn btn-warning mt-3 ') Sí, ¡quiero vender más! 


    section(class='container mt-5 mb-5 garantia ')
        div(class='row')
            div(class='col-sm-12 mt-5')
                h2(class='text-center') Y si llegaste hasta aqui por algo
                p(class='text-center pt-4') Te quiero explicar por qué ahora es el mejor momento para inscribirte:
            div(class='col-sm-9 offset-md-2 pl-5 mt-2')
                ul
                    li Porque Ahora te ofrecemos una garantía de devolución de dinero.
                    li Porque Ahora estarías ahorrando dinero accediendo a la promoción.
                    li Porque Ahora es la oportunidad de recuperar el dinero de tus ventas no cerradas.
                    li Porque entrar ahora significa empezar a crecer ya, vender ya y cobrar más pronto.

        div(class='row')
            div(class='col-sm-12 mt-5 text-center')
                img(src='assets/img/garantia.png')
                h3(class='mt-4') No tienes nada que perder
                p Si tienes miedo a comprar La MENTE del VENDEDOR porque crees que puede no ayudarte, tienes hasta 24 hrs después del entrenamiento para pedir una devolución. Tan solo tienes que enviar un correo a enrique.arainga@mastersellerperu.com y te abonaremos tu dinero en un plazo de 48 horas.

    section(class=' call-action yellow ') 
            div(class='container text-center')
                div(class='row')
                div(class='col-sm-12 vertical-center')
                    h2 Ahora es el momento de conseguir más ventas, dinero y tiempo sin presión ni estrés.
    section(class='container mt-5 mb-5')
        div(class='row')
            div(class='col-sm-12 text-center')
                p(class='h3 pb-3') Asegúralo
                button(class='btn btn-warning') ¡Inscribete Ahora!
    section(class='contador' id='contador') 
        div(class='container ')
            div(class='row vertical-center')
                div(class='col-sm-12 text-center ')
                    h2(class='h1') Cuando el reloj llegue a cero será imposible inscribirte.
                    div(class='reloj')
                        span 19d
                        span 6h
                        span 30m
                        span 39s
                    
    section(class='container faq mt-5 mb-5')
        div(class='row')
            div(class='col-sm-12 mt-5 text-center')
                h2 Preguntas frecuentes
            div(class='col-sm-6 mt-5')
                ul
                    li 
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
                    li
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
                    li
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
                    li
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
            div(class='col-sm-6 mt-5')
                ul
                    li 
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
                    li 
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
                    li 
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
                    li 
                        h4 Title
                        p Lugar: Hotel Britania ★★★★Calle Independencia 211, Miraflores.Referencia: Entre Calle dos de Mayo y Calle independencia, a 4 cuadras del ovalo de Miraflores.Fecha: 16 de julioHorario: 10 am a 8:30 pm
    section(class=' whatsapp text-center bg-gray-light pt-5 pb-5')
                div(class='container')
                    div(class='row')
                        div(class='col-sm-12 mt-5')    
                            h3 ¿Aún hay dudas?
                            img(src='assets/img/wssp.png')
                            p Será un placer calmar tus dudas y ayudarte a tomar una decisión. Solo tienes que dar Click en el botón de abajo y te atenderemos de inmediato.
                            button(class='btn btn-success') Whatsapp