
        
/* css */

h1, h2, h3, h4, h5 
    font-family 'Raleway', sans-serif
    
p 
    font-family 'Open Sans', sans-serif
    font-size 19px
.div-white
    background-color #fff
    height 75px
    width 100%
    position absolute
    top -48px  
.red-strike
    width 167px
    background red
    height 6px
    position relative
    top 42px
    left 22%
.separator-gray
    height 1px
    width 160px
    background-color rgba(128, 128, 128, 0.49)
    margin auto
.separator-white
    height 1px
    width 160px
    background-color white
    margin auto
.separator-turquoise
    height 2px
    width 12%
    background-color: #1dd3e3
    margin-top 3%
    margin-bottom 2%
.container.mt-5 .separator
    height 1px
    background-color #ffc201
    position relative
    width 100%
    margin 2% 0% 0% 0%
.btn 
    text-transform uppercase
    &:hover
        transition all 0.2s
        letter-spacing 2px
        
.vertical-center
    display table-cell!important
    vertical-align middle
    text-align center
    width 60%
.yellow
    color #FFC201
 .black
     color black   
.turquoise
    color #1dd3e3       
.bold
    font-weight 600
.bg-gray-light 
        background-color rgba(232, 232, 232, 0.68)
.bg-gray-dark
        background-color #4c4b4b
.header 
    background gray /* For browsers that do not support gradients */
    background -webkit-radial-gradient(#171717 1%, #151414 14%, #000 61%) /* Safari 5.1-6.0 */
    background -o-radial-gradient(#171717 1%, #151414 14%, #000 61%) /* For Opera 11.6 to 12.0 */
    background -moz-radial-gradient(#171717 1%, #151414 14%, #000 61%) /* For Firefox 3.6 to 15 */
    background radial-gradient(#171717 1%, #151414 14%, #000 61%) /* Standard syntax (must be last) */
    color white
    height 700px
    
    h1
        font-size 3.5rem
        text-transform uppercase
        margin-bottom 0px
        font-weight 400
    span    
            color #ffc201
            font-weight 600
            
    .logo 
            width 25%
            margin 5% 0%
            
    h3 
            margin-top 5%
            font-weight 400
    .brain
            background-image url(../img/brain.png)
            height 220px
            width 100%
            background-size contain;
            background-repeat no-repeat
            background-position-x 380px
            position relative
            bottom -64px
            transform rotate(-7deg)


ol 
   list-style: none
 
   li 
    counter-increment item
    margin-bottom 3%
    padding 3% 0% 0%
    border-left 1px solid #a7a7a7
    border-top 1px solid #a7a7a7
    position relative
    left 0%
    
    div
        position absolute
        top 45%
        left 5%
        text-align center
 
   li:before 
        margin-right 10px
        content counter(item)
        background #f0ad4e
        border-radius 6%
        color #fff
        width 1.5em
        text-align center
        display inline-block
        font-size 2.4em
        position relative
        right 29px
     

section.container
    
    h2
            text-transform uppercase
            letter-spacing 3px
            font-weight bold
            

.testimonio 
    
    p 
        font-style italic
        
    img
        border-radius 100%        
.call-action.yellow
    background-color #ffc201
    
    h2 
        font-weight 300!important
        font-size 2.6em
    
.call-action
    height 255px
    color white
    
    .vertical-center
            height 255px

.modulos
    .description 
            padding 2% 27%
    .width-icon 
        width 80px
    
    .separator.modulo
        width 80px
        left 38%
        
    .separator.top, .separator.bottom 
        width 160px
        
    .separator.top.before
            left 29%
            top 29px


    .separator.top.after
            bottom 74px
            left 58%
            
    .separator.bottom.before
        
            left 27%
            top 29px


    .separator.bottom.after
            bottom 19px
            left 58%
            
    ul 
        padding-left 0px
    li 
        list-style none
    h3 
        text-transform uppercase 
    h4, h5
        font-weight 700
        text-transform uppercase 
    h4
        letter-spacing 3px
        color #ffc201

    h5 
        letter-spacing 2px
    .text-offer 
        padding-left 10%
        padding-right 10%
        

.price
    .gray 
        background-color gray
    .old 
        border 1px solid rgb(197, 197, 197)
        border-radius: 7px
        h3
            border-bottom 1px solid rgb(197, 197, 197)
            background-color rgba(128, 128, 128, 0.18)
        li:before  
            content  "⚫ " 
            color  gray /* or whatever color you prefer */
            font-size 1em  

    .best
        border 1px solid #5bc0de
        border-radius: 7px
        &:hover
            box-shadow 1px 20px 25px 0px #8c8c8c
            animation-name pulse
            animation-duration 2s
        img
            position absolute
            width 70px
            top -12%
            left 42%
        h3
            background-color rgba(128, 128, 128, 0.18)
            margin-bottom 0px!important
        h5
            border-bottom 1px solid #5bc0de
            background-color rgba(128, 128, 128, 0.18)
        li:before  
            content  "⚫ " 
            color  #1ccdda /* or whatever color you prefer */
            font-size 1em    
        

    .best, .old 
        .btn-price
            margin 5%
            border-radius 5px
            
            p
                color white
                font-size 3em
                font-weight 700
                margin-bottom 0px
                

            button 
                text-transform uppercase
                font-weight 700
    
    ul  
        list-style  none 
        padding 0 
        margin 0 
         
        li   
            padding-left  1em  
            text-indent  -.7em 
         

        
         

.contador
    background-color black
    color white
    height 290px
    
    .vertical-center
            height 290px

            

.blocks
    color white
    
    .bg-danger
        li:before  
            content  "✘  " 
            color  white /* or whatever color you prefer */
            font-size 1em
    .bg-success
        li:before  
            content  "✔ " 
            color  white /* or whatever color you prefer */
            font-size 1em   
    
    ul  
        list-style  none 
        padding 0 
        margin 0 
         
        li   
            padding-left  1em  
            text-indent  -.7em 
        li:before  
            content  "✔ " 
            color  white 
            font-size 1em 

.garantia 
    h2
        font-weight 700
        font-size 2.6em
        text-transform none!important
        letter-spacing 0px!important
    h3
        text-transform uppercase
        font-weight 700
        
    ul  
        list-style  none 
        padding 0 
        margin 0 
         
        li   
            padding-left  1em  
            text-indent  -.7em
        li:before  
            content  "✔ " 
            color  #FFC201
            font-size 1.2em 
            
            

        
.contador
    .reloj
        border 1px solid #ffc201
        font-size 2em
        margin auto
        width 310px
        margin auto
        border-radius 5px
        padding-bottom 5px
        color #ffc201
            

#accordion
        border-top 1px solid #ffc500
        border-left 1px solid #ffc500
        border-right 1px solid #ffc500
        ul
            padding-left 0px 
            margin-bottom 0px
            li 
                border-bottom 1px solid #ffc500
                list-style none
                
                a 
                    text-decoration none
        h5
            color black
            font-size 1.1em
        p 
            font-size 14px
            
        .tab-title:after 
            content '\002B'
            margin-left 5px
            background-color orange
            color white
            border-radius 100%
            padding 0% 6px 3px 6px
            line-height 1.2
            font-weight bold
            position relative
            top -25px
            float right
            
        .tab-title.active:after 
            content "\2212"
            background-color turquoise
            
            
.whatsapp .btn-success 
    background-color white!important
    color #449d44!important
    

.footer
    margin-top 2%
    background-color black
    color white
    
    h2 
        display inline
    p 
        display inline
        float right
/*animate*/
.animated 
  animation-duration 5.5s!important
  animation-fill-mode both
  animation-iteration-count: infinite

@media screen and (max-width: 460px)
    #accordion
        h5
            padding-right 10%
        .tab-title:after
            top -39px    
    .red-strike
        left 15%
    p 
        font-size 1em
    .contador .reloj 
        font-size 1.8em
        width 261px
    h2 
        font-size 2em!important
        
    .call-action
        height 315px
        .vertical-center 
            height 315px

    ol 
            
        padding-left 6%
        
        li 
            margin-bottom 52%
            padding 12% 0% 0% 1%
            
            div 
                left 15%!important
                

    .best
        img
            left 39%!important
            

    .header
        height 480px
        .logo
            width 70%
            
        h1
            font-size 2em
        h3 
            font-size: 1.3rem
            
    .footer
    
        h2, p
            display inherit
            float none
            text-align center
            

@media screen and (min-width: 992px)
    .pl-15
        padding-left 15%
    .pl-20
        padding-left 20%
        