/* css */

h1, h2, h3, h4, h5 
    font-family 'Raleway', sans-serif
    
p 
    font-family 'Open Sans', sans-serif
    font-size 19px
.bold
    font-weight 600
.bg-gray 
        background-color rgba(236, 238, 239, 0.59)

.header 
    background-color black
    color white
    height 600px
    
    h1
        font-size 3.5rem
        text-transform uppercase
        margin-bottom 0px
        font-weight 400
    span    
            color #ffc201
            font-weight 600
            
    .logo 
            width 25%
            margin 5% 0%
            
    h3 
            margin-top 5%
            font-weight 400
            


 ol 
   list-style: none
 
   li 
    counter-increment item
    margin-bottom 3%
    padding 3% 0% 0%
    border-left 1px solid #a7a7a7
    border-top 1px solid #a7a7a7
    position relative
    left 0%
    
    div
        position absolute
        top 45%
        left 5%
        text-align center
 
   li:before 
        margin-right 10px
        content counter(item)
        background #f0ad4e
        border-radius 6%
        color #fff
        width 1.5em
        text-align center
        display inline-block
        font-size 2.4em
        position relative
        right 29px
     

section.container
    
    h2
            text-transform uppercase
            letter-spacing 3px
            

.testimonio 
    
    p 
        font-style italic
        
    img
        border-radius 100%        
.call-action.yellow
    background-color #ffc201
    
    h2 
        font-weight 300!important
        font-size 2.6em
    
.call-action
    height 230px
    color white
    
    .vertical-center
            display table-cell
            vertical-align middle
            text-align center
            height 230px
            width 60%
.modulos
    .description 
            padding 2% 27%
    .width-icon 
        width 80px
    
    .separator 
        height 2px
        background-color #ffc201
        position relative
        
    .separator.modulo
        width 80px
        left 38%
        
    .separator.top, .separator.bottom 
        width 160px
        
    .separator.top.before
            left 29%
            top 29px


    .separator.top.after
            bottom 51px
            left: 58%
            
    .separator.bottom.before
        
            left 27%
            top 29px


    .separator.bottom.after
            bottom 19px
            left 58%
            
    ul 
        padding-left 0px
    li 
        list-style none
        
    h4, h5 
        text-transform uppercase
        font-weight 700
    h4
        letter-spacing 3px
        color #ffc201

    h5 
        letter-spacing 2px
    .text-offer 
        padding-left 10%
        padding-right 10%
        

.price
    .gray 
        background-color gray
    .old 
        border 1px solid rgb(197, 197, 197)
        border-radius: 7px
        h3
            border-bottom 1px solid rgb(197, 197, 197)
            background-color rgba(128, 128, 128, 0.18)
            

    .best
        border 1px solid #5bc0de
        border-radius: 7px
        h3
            background-color rgba(128, 128, 128, 0.18)
            margin-bottom 0px!important
        h5
            border-bottom 1px solid #5bc0de
            background-color rgba(128, 128, 128, 0.18)
            
        

    .best, .old 
        .btn-price
            margin 5%
            border-radius 5px
            
            p
                color white
                font-size 3em
                font-weight 700
                margin-bottom 0px
                

            button 
                text-transform uppercase
                font-weight 700
    


.contador
    background-color black
    color white
    height 290px
    
    .vertical-center
            display table-cell
            vertical-align middle
            text-align center
            height 290px
            width 60%